.welcome {
    text-align: center;
    margin: 200px;
 
}

body {
  margin: 0;
  background: url(https://i.pinimg.com/originals/43/22/5a/43225aba74ba46ba733f83ec5084e73d.jpg);
  background-size: cover;
  
}



  